html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../../Fondo.jpg");
}

.InfoSerie
{
  height:auto;
 background-image: url("../../infoSerie.jfif"); 
  top: 20%;
  left: 0%;
  width: 50%;
  height: auto;
  color: black;
}
.poderes
{
  height:auto;
 background-image: url("../../infoSerie.jfif");
  bottom: 0%;
  left: 0%;
  width: 50%;
  height: auto;
  color: black;
}
.creador
{
  width: 25%;
  height:auto;
  background-image: url("../../infoSerie.jfif");
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.Titulos
{
  background-image: url("../../FondoTitulos.jpg");
  background-color: rgb(67, 228, 228);
  text-align: center;
}

.nav
{
  background-image: url("../../FondoTitulos.jpg");
  background-color: rgb(67, 228, 228);
  text-align: center;
}

.logo
{
  position: right 2%;
  width: 10%;
  height: auto;
}