USE [master]
GO
/****** Object:  Database [OnePiece]    Script Date: 20/10/2022 12:06:18 ******/
CREATE DATABASE [OnePiece]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnePiece', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnePiece.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnePiece_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnePiece_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnePiece].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnePiece]
GO
/****** Object:  User [alumno]    Script Date: 20/10/2022 12:06:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bando]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bando](
	[idBando] [int] IDENTITY(1,1) NOT NULL,
	[NombreBando] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bando] PRIMARY KEY CLUSTERED 
(
	[idBando] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foro]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foro](
	[IdMensaje] [int] IDENTITY(1,1) NOT NULL,
	[TextoMensaje] [varchar](200) NOT NULL,
	[FechaMensaje] [date] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Foro] PRIMARY KEY CLUSTERED 
(
	[IdMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HakiArmadura]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HakiArmadura](
	[IdHakiArmadura] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HakiArmadura] PRIMARY KEY CLUSTERED 
(
	[IdHakiArmadura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HakiObservacion]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HakiObservacion](
	[IdHakiObservacion] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HakiObservacion] PRIMARY KEY CLUSTERED 
(
	[IdHakiObservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HakiRey]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HakiRey](
	[idHakiRey] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Haki] PRIMARY KEY CLUSTERED 
(
	[idHakiRey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mar]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mar](
	[IdMar] [int] IDENTITY(1,1) NOT NULL,
	[NombreMar] [varchar](50) NOT NULL,
	[InfoMar] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Mar] PRIMARY KEY CLUSTERED 
(
	[IdMar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[IdPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[NombrePersonaje] [varchar](50) NOT NULL,
	[InfoPersonaje] [varchar](50) NOT NULL,
	[IdMar] [int] NOT NULL,
	[IdRaza] [int] NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[IdPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajeXTemporada]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajeXTemporada](
	[IdPersonaje] [int] NOT NULL,
	[IdTemporada] [int] NOT NULL,
	[IdBando] [int] NOT NULL,
	[IdHakiArmadura] [int] NOT NULL,
	[IdHakiObservacion] [int] NOT NULL,
	[IdHakiRey] [int] NOT NULL,
	[IdTripulacion] [int] NOT NULL,
	[Recompensa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raza]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raza](
	[IdRaza] [int] IDENTITY(1,1) NOT NULL,
	[NombreRaza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Raza] PRIMARY KEY CLUSTERED 
(
	[IdRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temporada]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temporada](
	[IdTemporada] [int] IDENTITY(1,1) NOT NULL,
	[IdMar] [int] NOT NULL,
	[NombreTemporada] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[InfoTemporada] [varchar](500) NOT NULL,
	[Capitulos] [int] NOT NULL,
 CONSTRAINT [PK_Temporada] PRIMARY KEY CLUSTERED 
(
	[IdTemporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tripulacion]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tripulacion](
	[IdTripulacion] [int] IDENTITY(1,1) NOT NULL,
	[NombreTripulacion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Tripulacion] PRIMARY KEY CLUSTERED 
(
	[IdTripulacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/10/2022 12:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[InfoUsuario] [varchar](200) NOT NULL,
	[Foto] [varchar](200) NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bando] ON 

INSERT [dbo].[Bando] ([idBando], [NombreBando]) VALUES (1, N'Pirata')
INSERT [dbo].[Bando] ([idBando], [NombreBando]) VALUES (2, N'Marino')
INSERT [dbo].[Bando] ([idBando], [NombreBando]) VALUES (3, N'Caza recompensas')
SET IDENTITY_INSERT [dbo].[Bando] OFF
GO
SET IDENTITY_INSERT [dbo].[HakiArmadura] ON 

INSERT [dbo].[HakiArmadura] ([IdHakiArmadura], [Estado]) VALUES (1, N'No')
INSERT [dbo].[HakiArmadura] ([IdHakiArmadura], [Estado]) VALUES (2, N'Base')
INSERT [dbo].[HakiArmadura] ([IdHakiArmadura], [Estado]) VALUES (3, N'Avanzado')
SET IDENTITY_INSERT [dbo].[HakiArmadura] OFF
GO
SET IDENTITY_INSERT [dbo].[HakiObservacion] ON 

INSERT [dbo].[HakiObservacion] ([IdHakiObservacion], [Estado]) VALUES (1, N'No')
INSERT [dbo].[HakiObservacion] ([IdHakiObservacion], [Estado]) VALUES (2, N'Base')
INSERT [dbo].[HakiObservacion] ([IdHakiObservacion], [Estado]) VALUES (3, N'Avanzado')
SET IDENTITY_INSERT [dbo].[HakiObservacion] OFF
GO
SET IDENTITY_INSERT [dbo].[HakiRey] ON 

INSERT [dbo].[HakiRey] ([idHakiRey], [Estado]) VALUES (1, N'No')
INSERT [dbo].[HakiRey] ([idHakiRey], [Estado]) VALUES (2, N'Base')
INSERT [dbo].[HakiRey] ([idHakiRey], [Estado]) VALUES (3, N'Avanzado')
SET IDENTITY_INSERT [dbo].[HakiRey] OFF
GO
SET IDENTITY_INSERT [dbo].[Mar] ON 

INSERT [dbo].[Mar] ([IdMar], [NombreMar], [InfoMar]) VALUES (1, N'All Blue', N'En este océano legendario se dice que hay peces, animales y especias culinarias procedentes de cada uno de los mares, siendo una fuente de recursos alimenticios prácticamente insuperable.Se dice que el All Blue se encuentra en el Grand Line')
INSERT [dbo].[Mar] ([IdMar], [NombreMar], [InfoMar]) VALUES (2, N'East Blue', N'Es considerado el océano más débil, ya que los piratas de este océano tiene un promedio de recompensa de Belly3.000.000, sin embargo, el East Blue es el hogar de varios personajes poderosos y temidos en todos los mares:')
INSERT [dbo].[Mar] ([IdMar], [NombreMar], [InfoMar]) VALUES (3, N'West Blue', N'Es uno de los mares que forman el Mar Azul, este esta ubicado al oeste, como bien dice su nombre y es aquel que tiene el clima más cálido.')
SET IDENTITY_INSERT [dbo].[Mar] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([IdPersonaje], [NombrePersonaje], [InfoPersonaje], [IdMar], [IdRaza]) VALUES (1, N'Monkey D.Luffy', N'Un kpo', 2, 1)
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
INSERT [dbo].[PersonajeXTemporada] ([IdPersonaje], [IdTemporada], [IdBando], [IdHakiArmadura], [IdHakiObservacion], [IdHakiRey], [IdTripulacion], [Recompensa]) VALUES (1, 1, 1, 1, 1, 1, 2, 30000000)
GO
SET IDENTITY_INSERT [dbo].[Raza] ON 

INSERT [dbo].[Raza] ([IdRaza], [NombreRaza]) VALUES (1, N'Humano')
INSERT [dbo].[Raza] ([IdRaza], [NombreRaza]) VALUES (2, N'Skypeano')
INSERT [dbo].[Raza] ([IdRaza], [NombreRaza]) VALUES (3, N'Gyojin')
SET IDENTITY_INSERT [dbo].[Raza] OFF
GO
SET IDENTITY_INSERT [dbo].[Temporada] ON 

SET IDENTITY_INSERT [dbo].[Temporada] OFF
GO
SET IDENTITY_INSERT [dbo].[Tripulacion] ON 

INSERT [dbo].[Tripulacion] ([IdTripulacion], [NombreTripulacion]) VALUES (1, N'Sin tripulación')
INSERT [dbo].[Tripulacion] ([IdTripulacion], [NombreTripulacion]) VALUES (2, N'Sombreros de Paja')
SET IDENTITY_INSERT [dbo].[Tripulacion] OFF
GO
ALTER TABLE [dbo].[Foro]  WITH CHECK ADD  CONSTRAINT [FK_Foro_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Foro] CHECK CONSTRAINT [FK_Foro_Usuario]
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Mar] FOREIGN KEY([IdMar])
REFERENCES [dbo].[Mar] ([IdMar])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Mar]
GO
ALTER TABLE [dbo].[Personaje]  WITH CHECK ADD  CONSTRAINT [FK_Personaje_Raza] FOREIGN KEY([IdRaza])
REFERENCES [dbo].[Raza] ([IdRaza])
GO
ALTER TABLE [dbo].[Personaje] CHECK CONSTRAINT [FK_Personaje_Raza]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_Bando] FOREIGN KEY([IdBando])
REFERENCES [dbo].[Bando] ([idBando])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_Bando]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_HakiArmadura] FOREIGN KEY([IdHakiArmadura])
REFERENCES [dbo].[HakiArmadura] ([IdHakiArmadura])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_HakiArmadura]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_HakiObservacion] FOREIGN KEY([IdHakiObservacion])
REFERENCES [dbo].[HakiObservacion] ([IdHakiObservacion])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_HakiObservacion]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_HakiRey] FOREIGN KEY([IdHakiRey])
REFERENCES [dbo].[HakiRey] ([idHakiRey])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_HakiRey]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_Personaje] FOREIGN KEY([IdPersonaje])
REFERENCES [dbo].[Personaje] ([IdPersonaje])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_Personaje]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_Temporada] FOREIGN KEY([IdTemporada])
REFERENCES [dbo].[Temporada] ([IdTemporada])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_Temporada]
GO
ALTER TABLE [dbo].[PersonajeXTemporada]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXTemporada_Tripulacion] FOREIGN KEY([IdTripulacion])
REFERENCES [dbo].[Tripulacion] ([IdTripulacion])
GO
ALTER TABLE [dbo].[PersonajeXTemporada] CHECK CONSTRAINT [FK_PersonajeXTemporada_Tripulacion]
GO
ALTER TABLE [dbo].[Temporada]  WITH CHECK ADD  CONSTRAINT [FK_Temporada_Mar] FOREIGN KEY([IdMar])
REFERENCES [dbo].[Mar] ([IdMar])
GO
ALTER TABLE [dbo].[Temporada] CHECK CONSTRAINT [FK_Temporada_Mar]
GO
USE [master]
GO
